<launch>
  <!-- 啟動gazebo並加載迷宮世界 -->
  <param name="robot_description" command="$(find xacro)/xacro $(find car_description)/urdf/car.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model car"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" 		value="$(find car_description)/worlds/maze.world"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- 啟動機器人狀態發布 -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="robot_description" command="$(find xacro)/xacro '$(find car_description)/urdf/car.xacro'"/>
  </node>

  <!-- 啟動迷宮導航節點 -->
  <node name="maze_navigator" pkg="car_description" type="maze_navigator.py" output="screen"/>
</launch>